!!! xml
%feed{:xmlns => "http://www.w3.org/2005/Atom"}
 
  %title Josh Price
  %link{:href => "http://blog.joshprice.com/articles.atom", :rel => "self", :hreflang => "en", :type => "application/atom+xml"}/
  %link{:href => "http://blog.joshprice.com", :rel => "alternate", :hreflang => "en", :type => "text/html"}/
   
  %author
    %name Josh Price
    %uri http://joshprice.com
    %email josh@joshprice.com
 
  %id http://joshprice.com
  %updated= @articles.first.published.xmlschema
 
  - @articles[0..10].each do |article|
    %entry
      %id http://blog.joshprice.com/#{article.slug}
      %title{:type => "html"}= article.title
      %published= article.published.xmlschema
      %updated= (article.updated || article.published).xmlschema
      %link{:href => "http://blog.joshprice.com/#{article.slug}", :rel => "alternate", :hreflang => "en", :type => "text/html"}/
      %content{:type => "xhtml", "xml:lang"=>"en", "xml:base"=>"http://blog.joshprice.com/"}
        %div{:xmlns => "http://www.w3.org/1999/xhtml"}
          = haml article.template, :layout => false